AUTHENTIK_ERROR_REPORTING__ENABLED=true
POSTGRES_PASSWORD=
POSTGRES_USER=authentik
POSTGRES_DB=authentik
AUTHENTIK_SECRET_KEY=
AUTHENTIK_REDIS__HOST=redis
AUTHENTIK_POSTGRESQL__HOST=postgresql
AUTHENTIK_POSTGRESQL__USER=${POSTGRES_USER}
AUTHENTIK_POSTGRESQL__NAME=${POSTGRES_DB}
AUTHENTIK_POSTGRESQL__PASSWORD=${POSTGRES_PASSWORD}